
.Container{
    display: flex;
    flex:1;
    height:100vh;
    width: 100%;
}
.leftSide{
}
.leftSide img{
    width: 100%;
    height:100vh;
    /* object-fit:fill; */
}

.rightSide{
    background-color: rgb(61, 55, 55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* justify-content: center; */
}